#include <behaviors.dtsi>
#include <behaviors/pointing_acceleration.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
    input-processors = <&pointing_acceleration>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

// 加速度調整
&pointing_acceleration {
    // 基準値は 1000 = 1.0倍
    min-factor = <800>;          // ゆっくり動かした時（0.8倍：精密な操作用）
    max-factor = <3500>;         // 早く弾いた時（3.5倍：画面端までの大移動用）
    speed-threshold = <100>;     // 動きの速さがこれ以下なら min-factor を適用
    speed-max = <1000>;          // 動きの速さがこれ以上なら max-factor を適用
    acceleration-exponent = <2>; // カーブの強さ（2にすると、二次関数的にギュンと加速します）
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_layer_mac {
            bindings = <
&kp Q             &kp W         &kp E         &kp R             &kp T                                                    &kp Y      &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F             &kp G                 &lt 4 TAB           &kp AT_SIGN    &kp H      &kp J  &kp K      &kp L    &kp SQT
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V             &kp B                 &mo 2               &kp BACKSPACE  &kp N      &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mo 1             &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &lt_to_layer_0 3 F13  &kp LEFT_SHIFT      &kp SPACE      &kp ENTER                             &kp DEL
            >;
        };

        Move_shortcut_mac {
            bindings = <
&kp LG(Q)       &kp LG(W)  &kp LG(E)  &kp LG(R)           &kp LG(T)                                          &kp LG(Y)       &kp HOME        &kp UP_ARROW    &kp END          &kp ESCAPE
&kp LG(A)       &kp LG(S)  &kp LG(D)  &kp LG(F)           &kp LC(G)  &trans                   &kp F2         &trans          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(RETURN)
&kp LEFT_SHIFT  &kp LG(Z)  &kp LG(X)  &kp LG(C)           &kp LG(V)  &kp LC(C)                &kp F7         &kp LG(N)       &kp LG(SLASH)   &trans          &kp LG(SLASH)    &kp LG(LS(NUMBER_6))
&trans          &trans     &trans     &kp LC(LEFT_ARROW)  &trans     &kp LC(RIGHT_ARROW)      &kp LG(SPACE)  &kp LG(RETURN)                                                   &kp LG(LS(NUMBER_4))
            >;
        };

        Symbol {
            bindings = <
&kp BACKSLASH  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PLUS                                                   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON      &kp DOUBLE_QUOTES  &kp MINUS
&kp DOLLAR     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp EQUAL       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMICOLON  &kp SQT            &kp EXCLAMATION
&kp HASH       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PERCENT   &trans                       &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp GRAVE          &kp QUESTION
&trans         &kp KP_NUMBER_0  &kp KP_NUMBER_0  &trans           &trans        &trans                       &trans          &trans                                                                         &kp PIPE
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                               &msc MOVE_X(15)  &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &msc MOVE_Y(15)
&trans  &trans  &trans  &trans  &trans  &trans      &kp C_VOLUME_UP  &trans           &mkp LCLK           &mkp LCLK         &mkp RCLK            &mkp RCLK
&trans  &trans  &trans  &trans  &trans  &trans      &kp C_VOL_DN     &trans           &mkp LCLK           &mkp LCLK         &mkp RCLK            &mkp RCLK
&trans  &trans  &trans  &trans  &trans  &trans      &trans           &trans                                                                      &trans
            >;
        };

        Number {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
